@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    
}

header{
    background-color: #a35858;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

header h1{
    width: 100%;
    text-align: center;
}

header input{
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    max-width: 500px;
    font-size: 18px;
}

header span{
    padding-left: 10px;
    font-size: 35px;
    cursor: pointer;
}

ul{
    margin: 0;
    padding: 0;
}

ul li{
    cursor: pointer;
    padding: 10px 0;
    list-style-type: none;
    font-size: 18px;
    display: flex;
    transition: 0.3s;
    align-items: center;
}

ul li:nth-child(odd){background-color: seashell;}
ul li:hover{background-color: #e8c9c9;}
ul li span{width: 80%;}
ul li i{width: 80%; text-align: center;}
.close{color: #ff4a4a; font-weight: bold;}
.close:hover{color: #b60000;}